body{
    margin: 0;
}

.fl{
    float: left;
}

/************ 헤드 ************* */

.head{
    height: 6vh;
    padding: 8px;
    background-color: rgb(254, 254, 229);
}

.maim{
    height: 6vh;
}

.he{
    font-family: KIMM_Bold;
    font-weight: 300;
    font-size: 18px;
    margin-top: 3vh;
    margin-left: 5px;
    transform: translateY(-50%);
}

/********************** 메인 ***********************/

.torimg{
    width: 40vw;
    margin: 4.9vw;
    margin-bottom: 3vw;
    border-radius: 10px;
}

.infotor{
    position: absolute;
    margin-left: 24vw;
    transform: translateX(-50%);
}

.infoimg{
    height: 20px;
}

.infotxt{
    margin-top: 10px;
    margin-left: 7px;
    transform: translateY(-50%);
    font-family: KIMM_Bold;
    font-size: 15px;
}

/********************** 메인2 ***********************/

.dawnimg{
    width: 40vw;
    margin: 4.9vw;
    border-radius: 10px;
    float: right;
}

.infodawn{
    position: absolute;
    margin-left: 74vw;
    transform: translateX(-50%);
}

.infoimgdawn{
    height: 20px;
}

.infotxtdawn{
    margin-top: 10px;
    margin-left: 7px;
    transform: translateY(-50%);
    font-family: KIMM_Bold;
    font-size: 15px;
}

/******************** TMI자질구레설명 **********************/

.spetit{
    margin-top: 60px !important;
}

.title{
    font-family: KIMM_Bold;
    font-weight: 400;
    font-size: 28px;
    margin: 10px;
    margin-top: 40px;
}

.son{
    font-family: SUIT-Regular;
    font-weight: 350;
    font-size: 16px;
    margin-left: 10px;
}

.img{
    border-radius: 15px;
    width: 80vw;
    margin: 10vw;
    margin-bottom: 15px;
}

.qrlink{
    font-family: KIMM_Bold;
    font-weight: 4200;
    font-size: 17px;
    margin-left :10vw;
}

.margin{
    width: 100vw;
    height: 40px;
}

/*************** 모달 & 폰트 & 설정 *****************/

dialog{
    border: 0;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) , 0 14px 28px rgba(0, 0, 0, 0.25);
}

.mButton {
    height: 35px;
    padding: 7px 30px;
    background-color: #66ccff;
    font-family: SUIT-Regular;
    margin: 3px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: 0;
    outline: 0;
}

.spea{
    text-decoration: none;
    color: #000;
}

.diaimg{
    height: 50px;
    margin-bottom: 10px;
}

.diatxt{
    margin-top: 25px;
    margin-left: 7px;
    margin-bottom: 10px;
    transform: translateY(-50%);
    font-family: SUIT-Regular;
    font-weight: 700;
    font-size: 20px;
}

.diainfo{
    float: right;
    height: 30px;
    margin: 5.5px;
}

/* 튜토리얼 이미지 모달 */

.tutodia{
    width: 70vw;
    border: 0;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) , 0 14px 28px rgba(0, 0, 0, 0.25);
}

.tutoimg{
    width: 70vw;
    border-radius: 10px;
}

.backbtn {
    height: 35px;
    padding: 7px 30px;
    background-color: #66ccff;
    font-family: SUIT-Regular;
    margin: 3px;
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: 0;
    outline: 0;
}

.dawndia{
    width: 70vw;
    border: 0;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) , 0 14px 28px rgba(0, 0, 0, 0.25);
}

.imshh2{
    margin-top: 0;
}

.dawnbtn {
    height: 50px;
    width: 70vw;
    padding: 15.5px 30px;
    background-color: #22729a;
    font-family: SUIT-Regular;
    margin: 3px;
    margin-bottom: 7px;
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: 0;
    outline: 0;
}

.mButton2 {
    height: 35px;
    width: 70vw;
    padding: 7px 30px;
    background-color: #66ccff;
    font-family: SUIT-Regular;
    margin: 3px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: 0;
    outline: 0;
}

.h2{
    font-family: SUIT-Regular;
}

.noma{
    text-decoration: none;
}


@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
